# Week 10 Classification Lecture Demo

This notebook contains an example demonstrate the method of logistics regression. Two datasets for the demonstration are available in the `data` folder of this repo. We will continue to use the `statsmodel` library for the analysis.

## Example-Logistics Regression

**Case Background**

The `Lasagna Triers Logistic Regression.csv` file contains data on 856 people who have either tried or not tried a companyâ€™s new frozen lasagna product. The categorical dependent variable, Have Tried, and several of the potential explanatory variables contain text. Using the numeric variables, including dummies, how well is logistic regression able to classify the triers and nontriers?

Therefore, the objective of this case is to use logistic regression to classify users as triers or nontriers, and to interpret the resulting output. 

<center><img src="../Image/lasana.jpg" width=400 height=400 /></center>

In [19]:
import pandas as pd
import statsmodels.formula.api as smf
import numpy as np

df_lasagna = pd.read_csv('../data/Lasagna Triers Logistic Regression.csv')
df_lasagna.head()

,Person,Age,Weight,Income,Pay Type,Car Value,CC Debt,Gender,Live Alone,Dwell Type,Mall Trips,Nbhd,Have Tried
0,1,48,175,65500,Hourly,2190,3510,Male,No,Home,7,East,No
1,2,33,202,29100,Hourly,2110,740,Female,No,Condo,4,East,Yes
2,3,51,188,32200,Salaried,5140,910,Male,No,Condo,1,East,No
3,4,56,244,19000,Hourly,700,1620,Female,No,Home,3,West,No
4,5,28,218,81400,Salaried,26620,600,Male,No,Apt,3,West,Yes

In [20]:
df_lasagna = df_lasagna.rename(columns={'Pay Type':'Pay_Type', 'Live Alone':'Live_Alone',
                                        'Dwell Type':'Dwell_Type','Have Tried':'Have_Tried',
                                        'Car Value':'Car_Value','CC Debt':'CC_Debt',
                                        'Mall Trips':'Mall_Trips'})

df_lasagna = pd.get_dummies(df_lasagna, columns=['Pay_Type','Gender','Live_Alone',
                                                 'Dwell_Type','Have_Tried'])
df_lasagna.head()

,Person,Age,Weight,Income,Car_Value,CC_Debt,Mall_Trips,Nbhd,Pay_Type_Hourly,Pay_Type_Salaried,Gender_Female,Gender_Male,Live_Alone_No,Live_Alone_Yes,Dwell_Type_Apt,Dwell_Type_Condo,Dwell_Type_Home,Have_Tried_No,Have_Tried_Yes
0,1,48,175,65500,2190,3510,7,East,1,0,0,1,1,0,0,0,1,1,0
1,2,33,202,29100,2110,740,4,East,1,0,1,0,1,0,0,1,0,0,1
2,3,51,188,32200,5140,910,1,East,0,1,0,1,1,0,0,1,0,1,0
3,4,56,244,19000,700,1620,3,West,1,0,1,0,1,0,0,0,1,1,0
4,5,28,218,81400,26620,600,3,West,0,1,0,1,1,0,1,0,0,0,1

In [21]:
our_formula = 'Have_Tried_Yes ~ Age + Weight + Income \
            + Car_Value + CC_Debt + Mall_Trips \
           + Pay_Type_Salaried + Gender_Male \
           + Live_Alone_Yes + Dwell_Type_Condo + Dwell_Type_Home'

logitfit = smf.logit(formula=str(our_formula), data=df_lasagna).fit()
print(logitfit.summary())

Optimization terminated successfully.
         Current function value: 0.401836
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:         Have_Tried_Yes   No. Observations:                  856
Model:                          Logit   Df Residuals:                      844
Method:                           MLE   Df Model:                           11
Date:                Mon, 29 Nov 2021   Pseudo R-squ.:                  0.4098
Time:                        16:42:36   Log-Likelihood:                -343.97
converged:                       True   LL-Null:                       -582.80
Covariance Type:            nonrobust   LLR p-value:                 1.853e-95
=====================================================================================
                        coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept            -2.5406      0.910     -2.793      0.005      -4.324      -0.758
Age                  -0.0697      0.011     -6.448      0.000      -0.091      -0.049
Weight                0.0070      0.004      1.827      0.068      -0.001       0.015
Income             4.763e-06   3.78e-06      1.260      0.208   -2.64e-06    1.22e-05
Car_Value         -2.669e-05   2.04e-05     -1.307      0.191   -6.67e-05    1.33e-05
CC_Debt            7.788e-05   9.14e-05      0.852      0.394      -0.000       0.000
Mall_Trips            0.6870      0.060     11.495      0.000       0.570       0.804
Pay_Type_Salaried     1.3327      0.221      6.033      0.000       0.900       1.766
Gender_Male           0.2555      0.192      1.334      0.182      -0.120       0.631
Live_Alone_Yes        1.3226      0.284      4.659      0.000       0.766       1.879
Dwell_Type_Condo     -0.0809      0.275     -0.294      0.769      -0.620       0.458
Dwell_Type_Home       0.1767      0.249      0.710      0.478      -0.311       0.664
=====================================================================================

In [22]:
print(logitfit.summary2())

                         Results: Logit
=================================================================
Model:              Logit            Pseudo R-squared: 0.410
Dependent Variable: Have_Tried_Yes   AIC:              711.9429
Date:               2021-11-29 16:42 BIC:              768.9701
No. Observations:   856              Log-Likelihood:   -343.97
Df Model:           11               LL-Null:          -582.80
Df Residuals:       844              LLR p-value:      1.8527e-95
Converged:          1.0000           Scale:            1.0000
No. Iterations:     7.0000
-----------------------------------------------------------------
                   Coef.  Std.Err.    z    P>|z|   [0.025  0.975]
-----------------------------------------------------------------
Intercept         -2.5406   0.9097 -2.7928 0.0052 -4.3236 -0.7576
Age               -0.0697   0.0108 -6.4476 0.0000 -0.0909 -0.0485
Weight             0.0070   0.0038  1.8270 0.0677 -0.0005  0.0146
Income             0.0000   0.0000  1.2602 0.2076 -0.0000  0.0000
Car_Value         -0.0000   0.0000 -1.3073 0.1911 -0.0001  0.0000
CC_Debt            0.0001   0.0001  0.8520 0.3942 -0.0001  0.0003
Mall_Trips         0.6870   0.0598 11.4952 0.0000  0.5699  0.8041
Pay_Type_Salaried  1.3327   0.2209  6.0329 0.0000  0.8998  1.7657
Gender_Male        0.2555   0.1915  1.3341 0.1822 -0.1199  0.6310
Live_Alone_Yes     1.3226   0.2839  4.6590 0.0000  0.7662  1.8790
Dwell_Type_Condo  -0.0809   0.2751 -0.2942 0.7686 -0.6201  0.4582
Dwell_Type_Home    0.1767   0.2489  0.7101 0.4776 -0.3110  0.6645
=================================================================

In [23]:
model_odds = pd.DataFrame(np.exp(logitfit.params), columns= ['Odd Ratio'])
model_odds

                   Odd Ratio
Intercept           0.078820
Age                 0.932684
Weight              1.007058
Income              1.000005
Car_Value           0.999973
CC_Debt             1.000078
Mall_Trips          1.987755
Pay_Type_Salaried   3.791450
Gender_Male         1.291162
Live_Alone_Yes      3.753284
Dwell_Type_Condo    0.922260
Dwell_Type_Home     1.193299

In [24]:
logitfit.pred_table()

array([[280.,  81.],
       [ 73., 422.]])

In [25]:
predict = logitfit.predict(df_lasagna)

df_lasagna['Prediction'] = predict
df_lasagna.head()

,Person,Age,Weight,Income,Car_Value,CC_Debt,Mall_Trips,Nbhd,Pay_Type_Hourly,Pay_Type_Salaried,Gender_Female,Gender_Male,Live_Alone_No,Live_Alone_Yes,Dwell_Type_Apt,Dwell_Type_Condo,Dwell_Type_Home,Have_Tried_No,Have_Tried_Yes,Prediction
0,1,48,175,65500,2190,3510,7,East,1,0,0,1,1,0,0,0,1,1,0,0.752757
1,2,33,202,29100,2110,740,4,East,1,0,1,0,1,0,0,1,0,0,1,0.351476
2,3,51,188,32200,5140,910,1,East,0,1,0,1,1,0,0,1,0,1,0,0.076490
3,4,56,244,19000,700,1620,3,West,1,0,1,0,1,0,0,0,1,1,0,0.091847
4,5,28,218,81400,26620,600,3,West,0,1,0,1,1,0,1,0,0,0,1,0.602193

In [26]:
def case(row):
    if row['Prediction'] > 0.5:
        val = 1
    else:
        val = 0
    return val

df_lasagna['Analysis_Case'] = df_lasagna.apply(case, axis='columns')
df_lasagna.head(40)

,Person,Age,Weight,Income,Car_Value,CC_Debt,Mall_Trips,Nbhd,Pay_Type_Hourly,Pay_Type_Salaried,...,Gender_Male,Live_Alone_No,Live_Alone_Yes,Dwell_Type_Apt,Dwell_Type_Condo,Dwell_Type_Home,Have_Tried_No,Have_Tried_Yes,Prediction,Analysis_Case
0,1,48,175,65500,2190,3510,7,East,1,0,...,1,1,0,0,0,1,1,0,0.752757,1
1,2,33,202,29100,2110,740,4,East,1,0,...,0,1,0,0,1,0,0,1,0.351476,0
2,3,51,188,32200,5140,910,1,East,0,1,...,1,1,0,0,1,0,1,0,0.076490,0
3,4,56,244,19000,700,1620,3,West,1,0,...,0,1,0,0,0,1,1,0,0.091847,0
4,5,28,218,81400,26620,600,3,West,0,1,...,1,1,0,1,0,0,0,1,0.602193,1
5,6,51,173,73000,24520,950,2,East,0,1,...,0,1,0,0,1,0,1,0,0.076923,0
6,7,44,182,66400,10130,3500,6,West,0,1,...,0,0,1,0,1,0,0,1,0.936322,1
7,8,29,189,46200,10250,2860,5,West,0,1,...,1,1,0,0,1,0,0,1,0.867534,1
8,9,28,200,61100,17210,3180,10,West,0,1,...,1,1,0,0,1,0,0,1,0.995374,1
9,10,29,209,9800,2090,1270,7,East,0,1,...,0,0,1,1,0,0,0,1,0.988600,1
10,11,29,171,46600,16350,5520,11,West,0,1,...,1,0,1,0,0,1,0,1,0.999448,1
11,12,30,243,24500,5410,300,3,West,0,1,...,1,1,0,0,0,1,0,1,0.710858,1
12,13,62,246,110900,8410,730,7,West,0,1,...,1,0,1,0,1,0,0,1,0.946269,1
13,14,29,228,37200,6420,700,3,East,0,1,...,1,0,1,1,0,0,0,1,0.888383,1
14,15,40,230,21800,3230,1650,4,East,1,0,...,1,1,0,0,0,1,0,1,0.405152,0
15,16,61,185,28900,1300,1030,2,South,1,0,...,1,0,1,1,0,0,1,0,0.086664,0
16,17,30,215,161600,9930,3300,5,South,0,1,...,1,1,0,0,0,1,0,1,0.944935,1
17,18,37,185,8900,2200,2500,5,West,0,1,...,1,0,1,0,0,1,0,1,0.947007,1
18,19,59,202,69300,6270,150,1,South,0,1,...,1,0,1,1,0,0,1,0,0.188598,0
19,20,45,201,9000,1110,810,3,West,1,0,...,0,1,0,1,0,0,1,0,0.106641,0
20,21,37,163,65500,3860,770,7,East,0,1,...,1,1,0,0,1,0,0,1,0.931673,1
21,22,34,144,42500,7660,1470,7,East,0,1,...,1,0,1,0,0,1,0,1,0.983888,1
22,23,26,161,36600,10500,1070,5,East,0,1,...,1,1,0,0,1,0,1,0,0.845491,1
23,24,32,212,28800,3380,1330,7,West,0,1,...,1,1,0,0,0,1,0,1,0.969083,1
24,25,29,221,36700,7740,700,5,West,1,0,...,0,1,0,0,0,1,0,1,0.651876,1
25,26,33,220,10900,320,830,3,East,0,1,...,1,1,0,0,0,1,1,0,0.654998,1
26,27,27,211,53100,9430,920,5,East,0,1,...,0,1,0,0,0,1,0,1,0.888867,1
27,28,45,205,38500,5900,880,1,East,0,1,...,0,1,0,0,1,0,1,0,0.099618,0
28,29,51,193,82300,9500,720,3,East,1,0,...,0,1,0,0,0,1,1,0,0.090707,0
29,30,27,183,30700,7670,2330,3,West,1,0,...,1,0,1,0,0,1,0,1,0.690786,1
30,31,43,171,23900,1340,740,2,East,0,1,...,0,1,0,0,1,0,1,0,0.171795,0
31,32,49,184,21200,1410,800,4,East,1,0,...,0,1,0,0,0,1,1,0,0.166478,0
32,33,46,191,16200,890,1200,4,South,1,0,...,1,1,0,0,0,1,1,0,0.254313,0
33,34,52,221,15600,1410,340,2,East,1,0,...,0,0,1,1,0,0,1,0,0.135847,0
34,35,31,153,53600,14830,360,6,West,0,1,...,1,1,0,0,1,0,0,1,0.868990,1
35,36,52,197,16300,4240,3210,5,West,1,0,...,0,1,0,0,0,1,1,0,0.278360,0
36,37,43,165,37600,4480,620,2,East,0,1,...,0,1,0,0,0,1,1,0,0.200141,0
37,38,38,179,37800,7340,2740,8,West,0,1,...,1,1,0,1,0,0,0,1,0.966172,1
38,39,38,198,58800,21510,440,6,West,0,1,...,1,0,1,1,0,0,0,1,0.951524,1
39,40,31,200,14100,1950,2140,7,East,0,1,...,1,1,0,0,0,1,0,1,0.969574,1

In [27]:
df_testing = pd.read_csv('../data/New_Customers.csv')
df_testing.head()

,New_Person,Age,Weight,Income,Pay Type,Car Value,CC Debt,Gender,Live Alone,Dwell Type,Mall Trips,Nbhd
0,1,36,146,85568,Salaried,10213,510,Female,No,Condo,3,South
1,2,40,225,68725,Salaried,3041,80,Female,No,Home,9,West
2,3,48,197,86876,Salaried,4806,2100,Male,No,Condo,9,West
3,4,49,177,38436,Salaried,8679,590,Male,Yes,Apt,3,West
4,5,34,223,77784,Salaried,12456,590,Female,No,Condo,8,West

In [28]:
df_testing = df_testing.rename(columns={'Pay Type':'Pay_Type', 'Live Alone':'Live_Alone',
                                        'Dwell Type':'Dwell_Type','Have Tried':'Have_Tried',
                                        'Car Value':'Car_Value','CC Debt':'CC_Debt','Mall Trips':'Mall_Trips'})

df_testing = pd.get_dummies(df_testing, columns=['Pay_Type','Gender','Live_Alone','Dwell_Type'])
df_testing.head()

,New_Person,Age,Weight,Income,Car_Value,CC_Debt,Mall_Trips,Nbhd,Pay_Type_Salaried,Gender_Female,Gender_Male,Live_Alone_No,Live_Alone_Yes,Dwell_Type_Apt,Dwell_Type_Condo,Dwell_Type_Home
0,1,36,146,85568,10213,510,3,South,1,1,0,1,0,0,1,0
1,2,40,225,68725,3041,80,9,West,1,1,0,1,0,0,0,1
2,3,48,197,86876,4806,2100,9,West,1,0,1,1,0,0,1,0
3,4,49,177,38436,8679,590,3,West,1,0,1,0,1,1,0,0
4,5,34,223,77784,12456,590,8,West,1,1,0,1,0,0,1,0

In [30]:
new_predict = logitfit.predict(df_testing)
df_testing['New_Prediction'] = new_predict
df_testing.head()

,New_Person,Age,Weight,Income,Car_Value,CC_Debt,Mall_Trips,Nbhd,Pay_Type_Salaried,Gender_Female,Gender_Male,Live_Alone_No,Live_Alone_Yes,Dwell_Type_Apt,Dwell_Type_Condo,Dwell_Type_Home,New_Prediction
0,1,36,146,85568,10213,510,3,South,1,1,0,1,0,0,1,0,0.369351
1,2,40,225,68725,3041,80,9,West,1,1,0,1,0,0,0,1,0.985216
2,3,48,197,86876,4806,2100,9,West,1,0,1,1,0,0,1,0,0.974404
3,4,49,177,38436,8679,590,3,West,1,0,1,0,1,1,0,0,0.564361
4,5,34,223,77784,12456,590,8,West,1,1,0,1,0,0,1,0,0.970410

In [31]:
def case(row):
    if row['New_Prediction'] > 0.5:
        val = 1
    else:
        val = 0
    return val

df_testing['Analysis_Case'] = df_testing.apply(case, axis='columns')
df_testing.head()

,New_Person,Age,Weight,Income,Car_Value,CC_Debt,Mall_Trips,Nbhd,Pay_Type_Salaried,Gender_Female,Gender_Male,Live_Alone_No,Live_Alone_Yes,Dwell_Type_Apt,Dwell_Type_Condo,Dwell_Type_Home,New_Prediction,Analysis_Case
0,1,36,146,85568,10213,510,3,South,1,1,0,1,0,0,1,0,0.369351,0
1,2,40,225,68725,3041,80,9,West,1,1,0,1,0,0,0,1,0.985216,1
2,3,48,197,86876,4806,2100,9,West,1,0,1,1,0,0,1,0,0.974404,1
3,4,49,177,38436,8679,590,3,West,1,0,1,0,1,1,0,0,0.564361,1
4,5,34,223,77784,12456,590,8,West,1,1,0,1,0,0,1,0,0.970410,1